#!upstart
#{{ ansible_managed }}


description "Upstart script to run a tornado app as a service"
author "Erik Moroz && Misha Kalyna"

start on startup
stop on shutdown

console log
kill timeout 20
limit nofile 65536 65536


setuid {{ deploy_user }}
setgid {{ deploy_group }}
respawn

pre-start script
 sleep 5
end script

chdir {{ django_dir }}

exec {{ virtualenv_dir }}/bin/python run_tornado_app.py --port {{ tornado_port }}