#!upstart
#{{ ansible_managed }}

description "Gunicorn upstart script"
author "Misha Kalyna"


start on startup
stop on shutdown

respawn

console log
kill timeout 20
limit nofile 65536 65536


setuid {{ deploy_user }}
setgid {{ deploy_group }}

chdir {{ django_dir }}

env DJANGO_SETTINGS_MODULE={{ deploy_app_name }}.settings

exec {{ gunicorn_virtualenv }}/bin/gunicorn {{ deploy_app_name }}.wsgi --config {{ deploy_etc_dir }}/{{ gunicorn_app_name }}_gunicorn.py
