#!upstart
#{{ ansible_managed }}

description "Upstart script to run react app"

start on startup
stop on shutdown

console log
kill timeout 20
limit nofile 65536 65536
respawn

setuid {{ deploy_user }}
setgid {{ deploy_group }}

chdir {{ webapp_src_dir }}
env PORT={{ webapp_port }}
env NODE_ENV=production

respawn
exec npm start
