---
- name: Configure all application servers
  hosts: appservers
  roles:
    - role: ANXS.git
      become: yes

    - role: Stouts.python
      become: yes

    - role: gunicorn
      become: yes

    - role: Stouts.celery
      become: yes

    - role: geerlingguy.nodejs
      become: yes

    - role: webtier

    - role: tornado

    - role: flower

    - role: docs
